 <div class="global">
 <div class="container">
  <div class="formulario">
    <h2>Creación/edición de productos</h2>
    <form [formGroup]="newProduct" (ngSubmit)="enviar()">
      <p>Nombre del producto</p>
      <input type="text" formControlName="name" placeholder="Por ej: Tiesto para planta">
      <p>Precio</p>
      <input type="text" formControlName="price" placeholder="Por ej: 9,50">
      <p>Descripción</p>
      <input type="text" formControlName="description" placeholder="Por ej: Lo más vendido este mes">
      <p>Ruta de la imagen</p>
      <input type="text" formControlName="image" placeholder="Por ej: hhhtp://dfjla.com/jpg">
      <p>Opiniones</p>
      <input type="text" formControlName="stars" placeholder="Por ej: 4,28">

      <button class="btn">Guardar</button>
    </form>
  </div>
  <div>
    <h3>Preview del producto:</h3>
  </div>
</div>
</div>
