<div class="container">
    <div>
      <img src="../../../assets/images/Captura de pantalla 2022-11-01 160145.jpg" alt="">
    </div>
    <div class="menu">
      <div class="logo">
      <a routerLink= "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../assets/images/nuclear.png" alt="Home"><p>Home</p>
      </a>
    </div>
    <div class="logo">
      <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../../assets/images/prismaticos.png" alt="Home"><p>Productos</p>
      </a>
    </div>
    <div class="logo">
      <a routerLink="/gestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../../assets/images/timo.png" alt="Home"><p>Gestión</p>
      </a>
    </div>
    </div>
</div>
